<header id="headermain">
  <div class="container">
    <div class="row headerwrap">
      <div class="col-9 col-sm-9 col-md-9 col-lg-2 d-flex align-items-center">
        <div class="headerwrap__logo">
          <img src="assets/img/logo.png" alt="logo" class="img-fluid" />
        </div>
        <div class="navicon d-block d-lg-none ml-auto">
          <div class="navicon__bar"></div>
        </div>
      </div>

      <!-- Navigation pour les écrans larges -->
      <div class="col-lg-9 d-none d-lg-block">
        <nav class="navpage">
          <ul class="navpage__wrap">
            <li class="navpage__list"><a href="#sectionhero" data-scroll>Inicio</a></li>
            <li class="navpage__list"><a href="#aboutsection" data-scroll>Sobre mí</a></li>
            <li class="navpage__list"><a href="#servicesection" data-scroll>Cursos</a></li>
            <li class="navpage__list"><a href="#reservasection" data-scroll>Reservas</a></li>
            <li class="navpage__list"><a href="#portfoliosection" data-scroll>Recursos para profesores</a></li>
            <li class="navpage__list"><a href="#contactsection" data-scroll>Contact</a></li>
          </ul>
        </nav>
      </div>

      <!-- Sélecteur de langue -->
      <div class="col-3 col-sm-3 col-md-3 col-lg-1 text-right d-flex align-items-center">
        <select id="languageSwitcher" class="form-control flag-select">
          <option value="es">🇪🇸</option>
          <option value="fr">🇫🇷</option>
          <option value="en">🏴󠁧󠁢󠁥󠁮󠁧󠁿</option>
          <option value="uk">🇺🇦</option>
          <option value="ru">🇷🇺</option>
        </select>
      </div>
    </div>
  </div>
</header>
<div class="overlay">
  <div class="overlay__navigation">
    <ul class="overlay__listnav">
      <li><a href="#sectionhero" data-scroll>Inicio</a></li>
      <li><a href="#aboutsection" data-scroll>Sobre mí</a></li>
      <li><a href="#servicesection" data-scroll>Cursos</a></li>
      <li><a href="#reservasection" data-scroll>Reservas</a></li>
      <li><a href="#portfoliosection" data-scroll>Recursos para profesores</a></li>
      <li><a href="#contactsection" data-scroll>Contact.</a></li>
    </ul>
  </div>
</div>
<div class="preloader">
  <div class="preloader__img">
    <img src="assets/img/logo.png" alt="logopage" class="img-fluid" />
  </div>
</div>
<main id="mainwrap">
  <div id="sectionhero" class="sectionblock">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mr-0 pl-lg-0 pr-lg-5 mr-lg-0 mt-3 mt-lg-0 align-items-center justify-content-center align-items-lg-left justify-content-lg-left text-center text-lg-left d-flex order-1 order-lg-0 ">
          <div class="infohero ">
            <p class="infohero__p">Hola</p>
            <h1 class="infohero__title">
              <span>Hablamos ELE</span>
            </h1>
            <span id="typed-text"></span>
            <span class="cursor blink">&nbsp;</span>
          </div>
        </div>
        <div class="col-lg-6 text-center order-0 order-lg-1 mb-5 mb-lg-0">
          <div class="heroimg">
            <img src="../../../../assets/img/hero/ana.png" alt="poto" class="img-fluid heroimg__poto" />
          </div>
        </div>
      </div>
    </div>

  </div>
  <svg class="svg-overflow-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#FFDB67" fill-opacity="1" d="M0,192L60,170.7C120,149,240,107,360,128C480,149,600,235,720,234.7C840,235,960,149,1080,122.7C1200,96,1320,128,1380,144L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>
  <div id="aboutsection" class="sectionblock">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center text-lg-left mb-5">
          <div class="abouthero">
            <h3>Ana Giménez Peña</h3>
          </div>
        </div>
        <div class="col-lg-8 pl-lg-5 text-center text-lg-left">
          <div class="infoabout">
            <p class="infoabout__title presentation">Llevo más de 10 años como docente, especializándome en la enseñanza del español a personas de todo el mundo y en todos los niveles. También preparo a mis estudiantes para los exámenes DELE del Instituto Cervantes.</p>
            <p class="infoabout__title presentation">Me apasiona ayudar a mis alumnos a alcanzar sus metas, ya sea comenzando desde cero o perfeccionando el idioma. Cada clase es una oportunidad para aprender y disfrutar, donde el español cobra vida a través de conversaciones y situaciones prácticas.
            </p>
          </div>
        </div>
        <div class="col-lg-12 mt-5 mb-4 pt-lg-5">
          <div class="row">
            <div class="col-lg-3">
              <div class="counterwrap">
                <p class="counterwrap__counternum"><span class="counterwrap__counter" data-Speed="5000">10</span></p>
                <p>Años de experiencia
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="counterwrap">
                <p class="counterwrap__counternum"><span class="counterwrap__counter" data-Speed="5000">15</span><span class="icon">+</span></p>
                <p>País de mis alumnos 🌍
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="counterwrap">
                <p class="counterwrap__counternum"><span class="counterwrap__counter" data-Speed="5000">300</span><span class="icon">+</span></p>
                <p>Alumnos formados
                </p>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="counterwrap">
                <p class="counterwrap__counternum"><span class="counterwrap__counter" data-Speed="5000">1000</span><span class="icon">+</span></p>
                <p>Horas de clases impartidas
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg class="svg-overflow-top svg-overflow-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill-opacity="1" d="M0,128L60,149.3C120,171,240,213,360,192C480,171,600,85,720,85.3C840,85,960,171,1080,197.3C1200,224,1320,192,1380,176L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z" fill="#ffdb67"></path>
  </svg>
  <div id="servicesection" class="sectionblock">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="sliderservice" class="sliderservice__contentinner keen-slider">
            <div class="wrapservice keen-slider__slide text-center text-lg-left">
              <div class="icon-wrapper">
                <img src="../../../../assets/img/services/icon-spain.svg" alt="icon-spain">
              </div>
              <h3 id="spanishCoursesTitle" class="mt-3 wrapservice__title">Cursos de Español</h3>
              <p id="spanishCoursesDesc">Aprende español de manera progresiva según tu nivel, desde principiante (A1) hasta avanzado (C1)</p>
            </div>
            <div class="wrapservice keen-slider__slide text-center text-lg-left">
              <div class="icon-wrapper">
                <img src="../../../../assets/img/services/icon-thematique-.svg" alt="icon-thematique">
              </div>
              <h3 id="thematicCoursesTitle" class="mt-3 wrapservice__title">Cursos Temáticos</h3>
              <p id="thematicCoursesDesc">Cursos especializados en situaciones específicas de la vida (Viajes - Salud - Conversación - Compras)</p>
            </div>
            <div class="wrapservice keen-slider__slide text-center text-lg-left">
              <div class="icon-wrapper">
                <img src="../../../../assets/img/services/icon-catalunya.png" alt="icon-catalunya">
              </div>
              <h3 id="catalanCoursesTitle" class="mt-3 wrapservice__title">Cursos de Catalán</h3>
              <p id="catalanCoursesDesc">Aprende catalán de manera progresiva según tu nivel, desde principiante (A1) hasta avanzado (B2)</p>
            </div>
            <div class="wrapservice keen-slider__slide text-center text-lg-left">
              <div class="icon-wrapper">
                <img src="../../../../assets/img/services/icon-diploma.png" alt="icon-diploma">
              </div>
              <h3  id="delePreparationTitle" class="mt-3 wrapservice__title">Preparación DELE</h3>
              <p id="delePreparationDesc">Prepara los exámenes oficiales DELE con cursos enfocados en superar cada nivel del certificado.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <svg class="svg-overflow-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#FFDB67" fill-opacity="1" d="M0,192L60,170.7C120,149,240,107,360,128C480,149,600,235,720,234.7C840,235,960,149,1080,122.7C1200,96,1320,128,1380,144L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>
  <div id="reservasection" class="sectionblock">
    <div class="container">
      <h2 class="reservasection-title">Reserva de clases</h2>
      <p class="reservasection-info">Disfrute de <strong>una hora completamente gratuita</strong> para descubrir mis servicios sin compromiso. Para ello, haga clic en 'Primera hora' en el formulario 😃</p>
      <div class="row container-resa">
        <div class="col-lg-7 text-center justify-content-lg-right">
          <div id='calendar'></div>
        </div>
        <div class="col-lg-5">
          <div class="reservaform">
            <form id="formreserva" class="reservaform">
              <div class="reservaform__form-group row">
                <div class="col-lg-12">
                  <label for="nom" class="pt-lg-0 pt-3">Tu nombre</label>
                  <input type="text" id="nom" class="contactform__inputtext input-control" placeholder="Tu nombre" name="name" data-name="name" />
                </div>
                <div class="col-lg-12">
                  <label for="mail" class="pt-lg-0 pt-3">Tu correo</label>
                  <input type="email" id="mail" class="contactform__inputtext input-control" placeholder="Tu correo" name="mail" data-name="mail" />
                </div>
                <div class="col-lg-12 pt-2">
                  <label for="cours">Tipo de curso</label>
                  <select id="cours" class="contactform__inputtext input-control" name="cours" data-name="cours">
                    <option value="niveles">Cursos de Español por Niveles</option>
                    <option value="tematicos">Cursos de Español Temáticos</option>
                    <option value="catalan">Cursos de Catalán por Niveles</option>
                    <option value="dele">Preparación DELE</option>
                  </select>
                </div>
                <div class="col-lg-12 pt-2" id="nivelField">
                  <label for="nivel">Nivel de Español</label>
                  <select id="nivel" class="contactform__inputtext input-control" name="nivel" data-name="nivel">
                    <option value="a1">A1</option>
                    <option value="a2">A2</option>
                    <option value="b1">B1</option>
                    <option value="b2">B2</option>
                    <option value="c1">C1</option>
                  </select>
                </div>
                <div class="col-lg-12 pt-2" id="nivelCatalanField" style="display:none;">
                  <label for="nivelCatalan">Nivel de Catalán</label>
                  <select id="nivelCatalan" class="contactform__inputtext input-control" name="nivelCatalan" data-name="nivelCatalan">
                    <option value="a1">A1</option>
                    <option value="a2">A2</option>
                    <option value="b1">B1</option>
                    <option value="b2">B2</option>
                  </select>
                </div>
                <div class="col-lg-12 pt-2" id="tematicaField" style="display:none;">
                  <label for="tematica">Tematica</label>
                  <select id="tematica" class="contactform__inputtext input-control" name="tematica" data-name="tematica">
                    <option value="viajes">Viajes</option>
                    <option value="conversation">Conversación</option>
                    <option value="compras">Compras</option>
                    <option value="salud">Salud</option>
                    <option value="otra">Otras</option>
                  </select>
                </div>
                <div class="col-lg-12 pt-2">
                  <label for="goals">Descripción de tus objetivos</label>
                  <textarea id="goals" class="contactform__inputtext input-control" placeholder="Describe tus objetivos" name="goals" data-name="goals"></textarea>
                </div>
                <div class="col-lg-12 pt-2 checkbox-primera-hora">
                  <label for="primeraHora">Quiero aprovechar la primera hora gratuita</label>
                  <input type="checkbox" id="primeraHora" name="primeraHora" value="si" disabled>
                </div>
                <div class="col-lg-12">
                  <button id="reservabutton" class="hidden btn contactform__submitbuton linkbtn mt-3" type="button">Reservar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="portfoliosection" class="sectionblock">
    <div class="container">
      <h2 class="portfoliosection-title">Recursos para profesores</h2>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="warpfilter text-left">
            <ul id="filterwrap" class="warpfilter__filter justify-content-left text-center text-lg-left">
              <li data-group="all" class="active">Todos</li>
              <li data-group="web">Fichas</li>
              <li data-group="branding">Infografias</li>
            </ul>
          </div>
          <div id="porfoliowarp" class="grid-gutter-md grid-col-3">
            <div class="porfoliowarp__item" data-groups='["branding"]'>
              <a class="porfoliowarp__portolink glightbox" data-glightbox="type: image" href="assets/img/infografi-2.png" aria-label="View image of Portfolio 1">
                <i class="fa-solid fa-circle-plus"></i>
                <div class="porfoliowarp__content" style="background: url(assets/img/infografi-2.png) no-repeat center;  background-position: center;
                        background-size: cover;"></div>
              </a>
            </div>
            <div class="porfoliowarp__item" data-groups='["branding"]'>
              <a class="porfoliowarp__portolink glightbox" data-glightbox="type: image" href="assets/img/infografi-1.png" aria-label="View image of Portfolio 1">
                <i class="fa-solid fa-circle-plus"></i>
                <div class="porfoliowarp__content" style="background: url(assets/img/infografi-1.png) no-repeat center;  background-position: center;
                        background-size: cover;"></div>
              </a>
            </div>
            <div class="porfoliowarp__item" data-groups='["web"]'>
              <a class="porfoliowarp__portolink  glightbox" data-glightbox="type: image" href="assets/img/ficha-1.png" aria-label="View image of Portfolio 2">
                <i class="fa-solid fa-circle-plus"></i>
                <div class="porfoliowarp__content" style="background: url(assets/img/ficha-1.png) no-repeat center;  background-position: center;
                        background-size: cover;"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <svg class="svg-overflow-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#FFDB67" fill-opacity="1" d="M0,128L60,149.3C120,171,240,213,360,192C480,171,600,85,720,85.3C840,85,960,171,1080,197.3C1200,224,1320,192,1380,176L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
  </svg>
  <div id="contactsection" class="sectionblock">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pr-lg-5">
          <div class="contactdetail">
            <h3 class="contactdetail__title mb-4">
              Hazme tus preguntas
            </h3>
            <p>No dude en contactarme para cualquier pregunta o solicitud. Estoy a su disposición por correo electrónico, teléfono o a través de nuestro formulario en línea. Me comprometo a responderle a la mayor brevedad posible.</p>
            <ul class="contactdetail__list">
              <li>
                                    <span class="contactdetail__span">
                                        <a href="tel:+34660686918">+34 660 68 69 18</a>
                                    </span>
              </li>
              <li>
                                    <span class="contactdetail__span">
                                        <a href="mailto:hablamoseleonline@gmail.com">hablamoseleonline"&#64;gmail.com</a>
                                    </span>
              </li>
              <!--<li>
                  <span class="contactdetail__span">
                     <a class="porfoliowarp__portolink glightbox" data-glightbox="type: image" href="asset/cv.png" aria-label="Ver curriculum vitae">Curriculum Vitae
                      </a>
                  </span>
              </li>-->
            </ul>
            <ul class="contactdetail__sosmed">
              <li>
                <a target="_blank" href="https://www.facebook.com/share/efHU3rHy6e26wL1u/?mibextid=LQQJ4d">
                  <i class="fa-brands fa-facebook"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.instagram.com/hablamos.ele?igsh=MTFpaGsxNzl4ZTlybg%3D%3D&utm_source=qr">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contactform">
            <form action="#" id="formcontact" class="contactform">
              <div class="contactform__form-group row">
                <div class="col-lg-12 pt-4">
                  <label for="yourname" class="pb-2 ">Tu nombre</label>
                  <input type="text" id="yourname" class="contactform__inputtext input-control " placeholder="Tu nombre" name="name" data-name="name" />
                </div>
                <div class="col-lg-12 pt-4">
                  <label for="yourmail" class="pb-2 ">Tu correo electrónico</label>
                  <input type="email" id="yourmail" class="contactform__inputtext input-control " placeholder="Correo electrónico" name="email" data-name="email" />
                </div>
                <div class="col-lg-12 pt-4">
                  <label for="comment" class="pb-2">Tu mensaje</label>
                  <textarea class="contactform__comentarea input-control" id="comment" placeholder="Hazme tus preguntas" name="comment" data-name="comment"></textarea>
                  <button id="submitbutton" class="btn mt-5  contactform__submitbuton linkbtn mt-5 mb-3" type="submit">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

