<section id="about">

  <div class="container">
    <div class="description">
      <img src="assets/img/about/about-illustration.jpg" alt="About illustration">
      <!--<h2>Quién está detrás</h2>-->
      <div>
        <p>Detrás de HablamosELE estoy yo, Ana: profesora de español y creadora de recursos didácticos. Llevo más de una década dedicada a la enseñanza del español y a formar estudiantes de distintos niveles y procedencias. Con el tiempo descubrí que mi pasión no estaba solo en dar clases, sino también en diseñar materiales que hagan del aprendizaje un proceso más dinámico, motivador y adaptado a cada necesidad.</p>
        <p>Así nació HablamosELE: una academia online pensada tanto para quienes quieren aprender español como para profes que buscan materiales prácticos e inspiradores. Aquí encontrarás un espacio en el que aprender, enseñar y compartir se unen, siempre con el objetivo de que el español se convierta en una herramienta real de comunicación y disfrute.</p>
      </div>
    </div>

    <ul class="metriques">
      <li>
        <span [appCountUp]="10" [duration]="1200"></span>
        <p>Años de experiencia</p>
      </li>
      <li>
        <span [appCountUp]="15" [duration]="1200" [suffix]="'+'"></span>
        <p>País de mis alumnos</p>
      </li>
      <li>
        <span [appCountUp]="300" [duration]="1200" [suffix]="'+'"></span>
        <p>Alumnos formados</p>
      </li>
      <li>
        <span [appCountUp]="1000" [duration]="1200" [suffix]="'+'"></span>
        <p>Horas de clases impartidas</p>
      </li>
    </ul>
  </div>
</section>

