<section id="about">
  <svg class="svg-overflow-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#FFDB67" fill-opacity="1" d="M0,192L60,170.7C120,149,240,107,360,128C480,149,600,235,720,234.7C840,235,960,149,1080,122.7C1200,96,1320,128,1380,144L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>
  <div class="container">
    <div class="description">
      <h2>Ana Giménez Peña</h2>
      <div>
        <p>Llevo más de 10 años como docente, especializándome en la enseñanza del español a personas de todo el mundo y en todos los niveles. También preparo a mis estudiantes para los exámenes DELE del Instituto Cervantes.</p>
        <p>Me apasiona ayudar a mis alumnos a alcanzar sus metas, ya sea comenzando desde cero o perfeccionando el idioma. Cada clase es una oportunidad para aprender y disfrutar, donde el español cobra vida a través de conversaciones y situaciones prácticas.</p>
      </div>
    </div>

    <ul class="metriques">
      <li>
        <span [appCountUp]="10" [duration]="1200"></span>
        <p>Años de experiencia</p>
      </li>
      <li>
        <span [appCountUp]="15" [duration]="1200" [suffix]="'+'"></span>
        <p>País de mis alumnos 🌍</p>
      </li>
      <li>
        <span [appCountUp]="300" [duration]="1200" [suffix]="'+'"></span>
        <p>Alumnos formados</p>
      </li>
      <li>
        <span [appCountUp]="1000" [duration]="1200" [suffix]="'+'"></span>
        <p>Horas de clases impartidas</p>
      </li>
    </ul>
  </div>
</section>

