<app-menu [menuItems]="menuItems"></app-menu>
<section class="recursos-lister">
  <div class="container">
    <h1>Lista de recursos</h1>
    <ul class="recursos-liste">
      <li class="card" *ngFor="let recurso of recursos">
        <div class="card-header">
          <h2>{{recurso.titulo}}</h2>
        </div>
        <p class="nb-infografias">Nb de infografias: {{recurso.nbInfografias}}</p>

        <p class="description">{{recurso.description}}</p>
        <ul class="tags">
          <li class="tag" *ngFor="let tag of (recurso.tags ? recurso.tags.split(',') : [])">
            {{ tag.trim() }}
          </li>
        </ul>
        <ul class="recurso-nb-contenus">
          <li>
            <span>{{ recurso.nbInfografias ? recurso.nbInfografias : '0' }} infografía{{recurso.nbInfografias > 1 ? 's' : ''}}</span>
          </li>
          <li>
            <span>{{ recurso.nbCahiersActivite ? recurso.nbCahiersActivite : '0'  }} cuaderno{{recurso.nbCahiersActivite > 1 ? 's' : ''}} de actividades</span>
          </li>
        </ul>
        <div class="actions-container">
          <button
            type="button"
            [routerLink]="['/admin-recursos-modificar', recurso.id]">Modificar</button>
          <button (click)="supprimerInfographie(recurso.id)" type="button">Eliminar</button>
        </div>
      </li>
    </ul>
  </div>
</section>
