.recursos-lister {
  .container{
    h1{
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .recursos-liste{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .card{
        border: 1px solid grey;
        border-radius: 15px;
        padding: 1rem;
        .card-header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          h2{

          }
          .nb-infografias{
            padding: .5rem 1rem;
            border: 1px solid #e1e1e1;
            border-radius: 1rem;
            background-color: #ffdb67;
          }
        }
        .description{
          padding: 1rem 0;
        }
        .tags{
          display: flex;
          gap: 1rem;
          .tag{
            font-size: 1.3rem;
            padding: 0.25rem .5rem;
            border-radius: 1rem;
            background-color: #ffdb67;
          }
        }
        .actions-container{
          margin-top: 2rem;
          display: flex;
          gap: 1rem;
          button{
            padding: 0.25rem .5rem;
          }
        }
      }
    }
  }
}
