<!-- src/app/components/reservations/reservations.component.html -->
<section id="reservations">
  <div class="container">
    <p>¿Quieres approvechar de una hora gratuita? <span>Haz clic dentro el formulario</span></p>
    <h2>Reserva una classe conmigo</h2>
    <div class="calendar-container">
      <div class="contenu">
        <app-calendar
          *ngIf="showCalendar"
          [googleApiKey]="'AIzaSyDpqLXh5YkIDTy6nIfR2lAkKqiiI5HKIgc'"
          [calendarId]="'hablamoseleonline@gmail.com'"
          (slotToggled)="onSlotToggled($event)">
        </app-calendar>

        <app-reservation-form
          #reservationForm
          [selectedSlots]="selectedSlots"
          [unitAmount]="unitAmount"
          [loading]="loading"
          (submitReservation)="onFormSubmit($event)">
        </app-reservation-form>
      </div>
    </div>

  </div>
</section>
