#reservations {
  .container{
    h2{
      font-size: 3.5rem;
      font-weight: bold;
      text-align: center;
      display: none;
    }
    p{
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      color: #cda214;
      span{
        color: grey;
      }
    }
    .calendar-container{
      img{
        width: 100%;
      }
      .contenu {
        display: flex;
        flex-direction: column;
        border: 1px solid #c5c5c5;
        border-radius: 1.5rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 2rem;
        margin-top: 2rem;
        gap: 2rem;
        app-reservation-form {
          height: 100%;
        }
      }
      @media only screen and (min-width: 768px){
        .contenu{
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

      }
    }


  }

}

