#reservations {
  .container{
    h2{
      font-size: 3.5rem;
      font-weight: bold;
      text-align: center;
    }
    p{
      text-align: center;
    }
    .contenu {
      display: flex;
      flex-direction: column;
      border: 1px solid;
      border-radius: 1.5rem;
      padding: 2rem;
      margin-top: 2rem;
      gap: 2rem;
      app-reservation-form {
        height: 100%;
      }
    }
    @media only screen and (min-width: 768px){
      .contenu{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

    }
  }

}

