<section id="hero">
  <div class="container">
    <div class="hero_info">
      <p (click)="naviguerAAdmin()">Hola</p>
      <h1>
        Hablamos
        <span>ELE</span>
      </h1>
      <div class="tags">
        <span class="tag">{{ typed }}</span>
        <span class="cursor" [class.blink]="cursorBlink">|</span>
      </div>
    </div>
    <div class="hero_img">
      <img src="../../../../assets/img/hero/ana.png" alt="Photo de Ana" />
    </div>
  </div>
</section>
<svg class="svg-overflow-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#FFDB67" fill-opacity="1" d="M0,192L60,170.7C120,149,240,107,360,128C480,149,600,235,720,234.7C840,235,960,149,1080,122.7C1200,96,1320,128,1380,144L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
</svg>

